<!-- ---Header--- -->

<header class="main-header">
    <div class="l-container">
        <img src="" alt="Imagen">
        <nav>
            <ul class="main-menu">
                <li class="main-menu_item"> <a href="#">Taller de emprendedores</a></li>
                <li class="main-menu_item"> <a href="#">Workshop</a></li>
                <li class="main-menu_item"> <a href="#">Expositores</a></li>
            </ul>
        </nav>
    </div>
    
</header>