{{!-- ----------------------- Main--------------------------- --}}

<!-- ---Main banner--- -->
<div class="main-banner">

</div>

<main>
        <!-- Descripcion -->
        <section class="1-section">
            
        </section>

        <!-- Eventos -->
        <section class="1-section 1 section--diagonal">
            
        </section>

        <!-- Expositores -->
        <section class="1-section">
            
        </section>

        <!-- Ediciones anteriores -->
        <section class="1-section 1 section--diagonal">
            
        </section>

        <!-- Inscripciones -->
        <section class="1-section">

        </section>
    </main>